<template name="StartupFest">
  <section id="startupfest" class="bg-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 wow fadeIn">
          <h1>{{_ "startupfest-title"}}</h1>
          <a href="http://startupfest.com">http://startupfest.com</a>
          <hr class="colored">
        </div>
      </div>
      <div class="row" style="display: inline-block">
        <div class="col-lg-8 wow fadeIn">
          <h2>{{_ "what-is-popup"}}</h2>
          <p>{{_ "what-is-popup-description"}}</p>
          <p>{{_ "what-is-popup-description-process"}}</p>
        </div>
        <div class="col-lg-4 wow fadeIn">
          {{#if i18n_isCurrentLanguage 'en'}}
            <img src="/img/events/startupfest/isf_logo_with_dates_EN.png" class="img-responsive" />
          {{/if}}
          {{#if i18n_isCurrentLanguage 'fr'}}
            <img src="/img/events/startupfest/isf_logo_with_dates_FR.png" class="img-responsive" />
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 wow fadeIn">
          <h2>{{_ "service-title"}}</h2>
          <p><strong>{{_ "dates"}}</strong> {{_ "dates-value"}}</p>
          <p><strong>{{_ "place"}}</strong> {{_ "place-value"}}</p>
          <p><strong>{{_ "kids"}}</strong> {{_ "kids-value"}}</p>
          <p><strong>{{_ "animators"}}</strong> {{_ "animators-value"}}</p>
          <p><strong>{{_ "security"}}</strong> {{_ "security-value"}}</p>
          <p><strong>{{_ "food"}}</strong> {{_ "food-value"}}</p>
          <p><strong>{{_ "price"}}</strong> {{_ "price-value"}}/{{_ "day"}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 wow fadeIn">
          <h2>{{_ "activities"}}</h2>
          <p>{{_ "activities-value"}}</p>
          <p>{{_ "activities-value-more"}}</p>
          <p>{{_ "startupfest-theme-lead"}} <strong>{{_ "startupfest-theme"}}</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 wow fadeIn">
          <table class="schedule">
            <tr>
              <th class="text-center">{{_ "Day"}}</th><th class="text-center">{{_ "activities"}}</th>
            </tr>
            <tr>
              <td>{{_ "thursday"}}</td>
              <td>
                <div>
                  <p>{{_ "thursday-title"}}</p>
                  <ul>
                    <li>{{_ "activity-get-inspired"}}</li>
                    <li>{{_ "activity-dinner"}}</li>
                    <li>{{_ "activity-problem-solving"}}</li>
                    <li>{{_ "activity-guest"}}</li>
                    <li>{{_ "activity-workshop"}}</li>
                    <li>{{_ "activity-sports"}}</li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{_ "friday"}}</td>
              <td>
                <div>
                  <p>{{_ "friday-title"}}</p>
                  <ul>
                    <li>{{_ "activity-workshop-human"}}</li>
                    <li>{{_ "activity-workshop-intro"}}</li>
                    <li>{{_ "activity-dinner"}}</li>
                    <li>{{_ "activity-workshop-theater"}}</li>
                    <li>{{_ "activity-visual-arts"}}</li>
                    <li>{{_ "activity-sports"}}</li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{_ "saturday"}}</td>
              <td>
                <div>
                  <p>{{_ "saturday-title"}}</p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 wow fadeIn">
          <h3>{{_ "schedule"}}</h3>
          <ul>
            <li>10:00-10:30 - {{_ "welcome"}}</li>
            <li>10:30-11:00 - {{_ "activities"}}</li>
            <li>12:00-13:00 - {{_ "dinner-startup-fest-site"}}</li>
            <li>13:00-15:00 - {{_ "nap-or-activities"}}</li>
            <li>15:00-16:00 - {{_ "snack"}}</li>
            <li>16:00-17:00 - {{_ "workshop-and-sports"}}</li>
            <li>17:00-18:00 - {{_ "parents-reception"}}</li>
          </ul>
        </div>
      </div>
      <div style="width:100%; text-align:left;" >
        <iframe src="http://www.eventbrite.com/tickets-external?eid=17128813743&ref=etckt&v=2" frameborder="0" height="400" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>
    </div>
  </section>
</template>
