/*****************************************************************************/
/* About: Style */
/*****************************************************************************/
.about-content {
  text-align: center;
  padding: 30px;
  .fa-stack.fa-4x {
    margin: auto;
    display: block;
  }
  .badge {
    margin-right: 5px;
  }
  h3 {
    vertical-align: middle;
    display: inline-block;
  }
  value-proposition {
    display: inline;
    font-size: 52px;
  }
}

.about-carousel {
  .item {
    padding: 15px;
    .caption {
      user-select: all;
      -moz-user-select: all;
      -webkit-user-select: all;
      -ms-user-select: all;
      padding: 15px;
      color: lighten(black, 70%);
      width: 100%;
      margin: 0;
      background-color: white;
      h3 {
        margin: 0;
      }
      hr {
        margin: 5px auto;
        max-width: 50px;
      }
      p {
        margin: 0;
        .role {
          color: lighten(black, 30%);
        }
      }
      ul.social {
        margin-top: 5px;
      }
      ul.phone {
        user-select: all;
        -moz-user-select: all;
        -webkit-user-select: all;
        -ms-user-select: all;
        margin-top: 5px;
      }
    }
  }
  .owl-controls {
    margin-top: 0;
    .owl-prev,
    .owl-next {
      text-align: center;
      position: absolute;
      height: 60px;
      width: 40px;
      border-radius: 0 !important;
      line-height: 50px;
      font-size: 30px !important;
      margin: auto 0 !important;
      top: 0;
      bottom: 0;
      background-color: $themePrimary !important;
      color: white !important;
      @include transition-all;
      &:hover {
        opacity: 1;
      }
    }
    .owl-prev {
      left: 15px;
    }
    .owl-next {
      right: 15px;
    }
  }
}
