<template name="Organizers">
  <section id="organizers">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-12 wow fadeIn">
          <h1>Organisateurs d’événements</h1>
        </div>
      </div>
      <div class="row text-center content-row">
        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay=".2s">
          <div class="about-content">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-key fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Service clé en main</h3>
            <p>Vos clients s’inscrivent à PopupCamp au moment où ils remplissent votre formulaire d’inscription en ligne. Dès lors, nous nous occupons du reste : collecte des informations au sujet des enfants, installation de l’espace du service de garde (sécurité), accueil et divertissement des enfants le jour de votre événement.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay=".4s">
          <div class="about-content">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Accroitre votre visibilité</h3>
            <p>Nous sommes actif sur les réseaux sociaux et pouvons vous offrir une visibilité additionelle au sein d'une communauté de parents très actifs.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay=".4s">
          <div class="about-content">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Soyez socialement responsable</h3>
            <p>Démontrez à vos clients comme à vos partenaires que vous comprenez le défi que représente la conciliation de vos activités et la vie familiale lors de vos événements. Offrez une solution inclusive complète qui donne une alternative au stress de trouver une ressource de garde.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
