<template name="Organizers">
  <section id="organizers">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-12 wow fadeIn">
          <h1>{{_ "event-organizers"}}</h1>
        </div>
      </div>
      <div class="row text-center content-row">
        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay=".2s">
          <div class="about-content">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-key fa-stack-1x fa-inverse"></i>
            </span>
            <h3>{{_ "organizer-vp-turn-key"}}</h3>
            <p>{{_ "organizer-vp-turn-key-description"}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay=".4s">
          <div class="about-content">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
            </span>
            <h3>{{_ "organizer-vp-socially-responsible"}}</h3>
            <p>{{_ "organizer-vp-socially-responsible-description"}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay=".4s">
          <div class="about-content">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
            <h3>{{_ "organizer-vp-visibility"}}</h3>
            <p>{{_ "organizer-vp-visibility-description"}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
