<template name="Events">
  <section id="events">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 wow fadeIn">
          <h1>{{_ "upcoming-events"}}</h1>
          <ul>
            <li>
              {{#linkTo route='events/startupfest'}}
                {{_ "event-startupfest-16-17-July"}}
              {{/linkTo}}
            </li>
          </ul>
        </div>
        <div class="col-lg-12 wow fadeIn">
          <h1>{{_ "past-events"}}</h1>
          <ul>
            <li>
              <a href="http://www.artdevivremtl.ca/">
                {{_ "event-yoga-aol-2015"}}
              </a>
            </li>
            <li>
              {{_ "event-fem-int-9-June"}}
            </li>
            <li>
              {{_ "event-grosses-tete-agency-anniversary"}}
            </li>
            <li>
              {{_ "event-dok-station-christmas-party"}}
            </li>
            <li>
              {{_ "event-socent-ii-notman-house"}}
            </li>
            <li>
              {{_ "event-metissage-entrepreneurial-fair"}}
            </li>
            <li>
              {{_ "event-48h-entrepreneurs-rjccq-jccm"}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
