<template name="Events">
  <section id="events">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 wow fadeIn">
          <h1>{{_ "upcoming-events"}}</h1>
          <ul class="events">
            <li>
              <a href="https://www.facebook.com/events/174531266246868/">
                {{{_ "ocpm-vertmtl-maire"}}}
              </a>
            </li>
            <li>
              {{#if i18n_isCurrentLanguage 'en'}}
                <a href="http://www.salonvr.com/en/montreal-rv-show.html">
                  {{_ "mtl-rv-show"}}
                </a>
              {{/if}}
              {{#if i18n_isCurrentLanguage 'fr'}}
                <a href="http://www.salonvr.com/salon-vr-montreal.html">
                  {{_ "mtl-rv-show"}}
                </a>
              {{/if}}
            </li>
            <li>
              <a href="http://ocpm.qc.ca/vertmtl/marathon">
                {{{_ "ocpm-vertmtl-vernissage"}}}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-12 wow fadeIn">
          <h1>{{_ "past-events"}}</h1>
          <ul class="events">
            <li>
              <a href="http://redaq.ca/journee-conference-leducation-autrement-2e-edition/">
                {{_ "redaq-adeese-conference"}}
              </a>
            </li>
            <li>
              {{_ "event-dok-station-christmas-party-2015"}}
            </li>
            <li>
              {{_ "evenko-avatar"}}
            </li>
            <li>
              {{#if i18n_isCurrentLanguage 'en'}}
                <a href="http://www.ymcaquebec.org/en/Blog/Baby-work-sleep-and-changing-the-world">
                  {{_ "baby-work-sleep-change"}}
                </a>
              {{/if}}
              {{#if i18n_isCurrentLanguage 'fr'}}
                <a href="http://www.ymcaquebec.org/fr/Blogue-Du-Y/Bebe-boulot-dodo-changer-le-monde">
                  {{_ "baby-work-sleep-change"}}
                </a>
              {{/if}}
            </li>
            <li>
              {{_ "hec-ideos-esplanade"}}
            </li>
            <li>
              {{_ "hec-mba-bbq-networking"}}
            </li>
            <li>
              <a href="http://ocpm.qc.ca/">
                {{_ "l-esplanade-launch-party"}}
              </a>
            </li>
            <li>
              <a href="http://ocpm.qc.ca/">
                {{_ "ocpm-nov-21"}}
              </a>
            </li>
            <li>
              <a href="http://lesalon1861.com/">
                {{_ "salon-1861-nov-15"}}
              </a>
            </li>
            <li>
              <a href="http://defi-innovation-sante.org/">
                {{_ "desjardins-hh-innovation-challenge-nov-6-8"}}
              </a>
            </li>
            <li>
              <a href="http://salonfemininpluriel.com/2015/10/31/popup-camp/">
                {{_ "salon-feminin-pluriel"}}
              </a>
            </li>
            <li>
              <a href="https://www.eventbrite.ca/e/lancement-officiel-de-popupcamp-tickets-18677258182">
                {{_ "popupcamp-launch-oct-23"}}
              </a>
            </li>
            <li>
              <a href="http://bootcamp.centremagnetique.ca/">
                {{_ "centre-magnetique-oct-9"}}
              </a>
            </li>
            <li>
              {{#linkTo route='events/startupfest'}}
                {{_ "event-startupfest-16-17-July"}}
              {{/linkTo}}
            </li>
            <li>
              <a href="http://www.artdevivremtl.ca/">
                {{_ "event-yoga-aol-2015"}}
              </a>
            </li>
            <li>
              {{_ "event-fem-int-9-June"}}
            </li>
            <li>
              {{_ "event-48h-entrepreneurs-rjccq-jccm"}}
            </li>
            <li>
              {{_ "event-metissage-entrepreneurial-fair"}}
            </li>
            <li>
              {{_ "event-socent-ii-notman-house"}}
            </li>
            <li>
              {{_ "event-dok-station-christmas-party"}}
            </li>
            <li>
              {{_ "event-grosses-tete-agency-anniversary"}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
