<template name="Home">
  <header style="background-image: url('/img/bg-header.jpg');">
    <div class="container intro-content">
      <img src="/img/profile.png" class="img-responsive img-centered" alt="PopupCamp Logo">
      <div class="brand-name-subtext">{{_ "main-value-prop"}}</div>
      <div class="row text-center">
        <div class="col-sm-12">
          <h3 class="value-proposition">{{_ "vp-simple"}} &nbsp; {{_ "vp-safe"}} &nbsp; {{_ "vp-inclusive"}}</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-6">
          <button type="button" class="btn btn-primary btn-xlg parent">
            {{_ "parent-button"}}
          </button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-default btn-xlg organizer">
            {{_ "organizer-button"}}
          </button>
        </div>
      </div>
    </div>
    <div class="scroll-down">
      <a class="btn page-scroll" href="#why"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
  </header>

  {{> Welcome}}
  <!--{{> adapt}}-->
  <!--{{> experience}}-->
  <!--{{> engage}}-->
  {{> Testimonials}}
  {{> Connect}}
  {{> Mailinglist}}
</template>

<template name="Welcome">
  <section id="welcome" class="bg-gray">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-12 wow fadeIn">
          <h2>{{_ "how-it-works"}}</h2>
          <hr class="colored">
          <p>{{_ "how-it-works-lead"}}</p>
        </div>
      </div>
      <div class="row text-center content-row">
        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay=".2s">
          <div class="about-content">
            <span class="badge">1</span><h3>{{{_ "hire-us"}}}</h3>
            <p>{{_ "hire-us-description"}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay=".4s">
          <div class="about-content">
            <span class="badge">2</span><h3>{{_ "bring-kids"}}</h3>
            <p>{{_ "bring-kids-description"}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay=".4s">
          <div class="about-content">
            <span class="badge">3</span><h3>{{_ "everyone-wins"}}</h3>
            <p>{{_ "everyone-wins-description"}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<template name="adapt">
  <!--End mc_embed_signup-->
  <aside id="adapt" class="cta-quote" style="background-image: url('/img/bg-aside.jpg');">
    <div class="container wow fadeIn">
      <div class="row">
        <h2>How about a challenge?</h2>
        <p>Live like a dolphin, fit and healthy</p>
        <hr class="colored">
        <div class="col-md-10 col-md-offset-1">
          <span class="quote"><strong>Adapt</strong> is a comprehensive 2 week online course designed to jump start your journey to better health, where you work and play in real life.</span>
          <hr class="colored">
          <p>In 10 minutes per day you can master the fundamentals of well-being.</p>
          <img src="/img/adapt/heart_120px.png" class="img-responsive center-block" alt="Adapt course logo">
          <br />
          <a class="btn btn-outline-light page-scroll" href="#contact">Experience Awesome, it's Free</a>
        </div>
      </div>
    </div>
  </aside>

  <section class="services">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 wow fadeIn">
          <h2>Health Experiences</h2>
          <p>Spice up the simple things in life</p>
          <hr class="colored">
        </div>
      </div>
      <div class="row content-row">
        <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
          <div class="media">
            <div class="pull-left">
              <i class="fa fa-birthday-cake"></i>
            </div>
            <div class="media-body">
              <h3 class="media-heading">Eat</h3>
              <p>Thoughtful <strong>diets and nutrition strategies</strong> including the #1 rated DASH diet</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
          <div class="media">
            <div class="pull-left">
              <i class="fa fa-rocket"></i>
            </div>
            <div class="media-body">
              <h3 class="media-heading">Move</h3>
              <p>Get moving with easy <strong>exercise and activity plans</strong>!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
          <div class="media">
            <div class="pull-left">
              <i class="fa fa-moon-o"></i>
            </div>
            <div class="media-body">
              <h3 class="media-heading">Sleep</h3>
              <p>Keep your mind at ease with a variety of <strong>relaxation techniques</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<template name="experience">
  <section id="experience" class="pricing" style="background-image: url('/img/bg-pricing.jpg')">
    <div class="container wow fadeIn">
      <div class="row text-center">
        <div class="col-lg-12">
          <h2>What we offer</h2>
          <hr class="colored">
          <p>No matter how much support you need, we're here to help</p>
        </div>
      </div>
      <div class="row content-row">
        <div class="col-md-4">
          <div class="pricing-item featured-first">
            <h3>Adapt Course</h3>
            <br />
            <img src="/img/offers/adapt.jpg" class="img-responsive center-block" alt="Adapt course logo">
            <br />
            <p>Know the fundamentals</p>
            <hr class="colored">
            <div class="price"><span class="number">FREE</span></div>
            <ul class="list-group">
              <li class="list-group-item">Fun eating, moving, sleeping</li>
              <li class="list-group-item">Bite-sized activities</li>
              <li class="list-group-item">Easy to follow</li>
              <li class="list-group-item">Help others get healthier</li>
              <li class="list-group-item">Scientific evidence</li>
            </ul>
            <a href="http://adapt.enfluence.io/" target="_blank" class="btn btn-outline-dark">Register</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-item featured">
            <h3>Thrive Community</h3>
            <br />
            <img src="/img/offers/thrive.jpg" class="img-responsive center-block" alt="Adapt course logo">
            <br />
            <p>Walk the talk, together</p>
            <hr class="colored">
            <div class="price"><span class="number"><sup>$</sup>50</span> / lifetime access</div>
            <ul class="list-group">
                <li class="list-group-item">On-going peer support</li>
                <li class="list-group-item">Habits hacking</li>
                <li class="list-group-item">Mindfullness</li>
                <li class="list-group-item">Social engineering</li>
                <li class="list-group-item">Environment modifications</li>
            </ul>
            <a href="#" class="btn btn-outline-dark">I belong</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-item featured-last">
            <h3>Lifestyle Coach</h3>
            <br />
            <img src="/img/offers/coach.jpg" class="img-responsive center-block" alt="Adapt course logo">
            <br />
            <p>Expert training</p>
            <hr class="colored">
            <div class="price"><span class="number"><sup>$</sup>15</span> / week</div>
            <ul class="list-group">
              <li class="list-group-item">One on one</li>
              <li class="list-group-item">Super personalized</li>
              <li class="list-group-item">Phone, video, and text messaging</li>
              <li class="list-group-item">Culturally sensitive</li>
              <li class="list-group-item">Paid accountability</li>
            </ul>
            <a href="#" class="btn btn-outline-dark">Hire</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray">
    <div class="container text-center wow fadeIn">
      <h2>Teams</h2>
      <p>You join a team of other awesome people like yourself. Hold each other accountable. Trade tips. Keep going. And most importantly, they're hilarious!</p>
      <hr class="colored">
      <img src="/img/adapt/team.jpg" class="img-responsive center-block" alt="Adapt course logo">
    </div>
  </section>
</template>

<template name="engage">
  <section id="engage" class="bg-gray">
    <div class="container text-center wow fadeIn">
      <h2>Pictures</h2>
      <hr class="colored">
      <p>Whoaaa, scrolled this far? You must have 2 minutes.</p>
      <p>Wanna do something fun right now?</p>
        <div class="row content-row">
          <div class="col-lg-12">
            <div class="portfolio-filter">
              <ul id="filters" class="clearfix">
                <li>
                  <span class="filter active" data-filter="all">All</span>
                </li>
                <li>
                    <span class="filter" data-filter=".identity">Eat</span>
                </li>
                <li>
                    <span class="filter" data-filter=".graphic">Move</span>
                </li>
                <li>
                    <span class="filter" data-filter=".web">Think</span>
                </li>
              </ul>
            </div>
          </div>
      </div>
      <div class="row">
              <div class="col-lg-12">
                  <div id="portfoliolist">
                      <div class="mix portfolio identity" data-cat="identity" href="#portfolioModal1" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/identity/1.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Generic Inc.</a>
                                      <span class="text-category">Brand Identity</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio web" data-cat="web" href="#portfolioModal2" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/web/1.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Brands</a>
                                      <span class="text-category">Web Development</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio graphic" data-cat="graphic" href="#portfolioModal3" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/graphic/1.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Excellence</a>
                                      <span class="text-category">Poster Design</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio web" data-cat="web" href="#portfolioModal4" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/web/2.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">YouTV</a>
                                      <span class="text-category">Web Development</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio graphic" data-cat="graphic" href="#portfolioModal1" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/graphic/2.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Office Supplies</a>
                                      <span class="text-category">Graphic Design</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio web" data-cat="web" href="#portfolioModal2" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/web/3.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Fooder</a>
                                      <span class="text-category">Mobile App</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio graphic" data-cat="graphic" href="#portfolioModal3" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/graphic/3.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Mountain Tea</a>
                                      <span class="text-category">Graphic Design</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio graphic" data-cat="graphic" href="#portfolioModal4" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/graphic/4.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Checkmark</a>
                                      <span class="text-category">Graphic Design</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio identity" data-cat="identity" href="#portfolioModal1" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/identity/2.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Demish</a>
                                      <span class="text-category">Brand Identity</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio web" data-cat="web" href="#portfolioModal2" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/web/4.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">OneRepublic</a>
                                      <span class="text-category">Web Development</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio graphic" data-cat="graphic" href="#portfolioModal3" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/graphic/5.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Postable</a>
                                      <span class="text-category">Graphic Design</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                      <div class="mix portfolio identity" data-cat="identity" href="#portfolioModal4" data-toggle="modal">
                          <div class="portfolio-wrapper">
                              <img src="/img/portfolio/grid/identity/3.jpg" alt="">
                              <div class="caption">
                                  <div class="caption-text">
                                      <a class="text-title">Simpli Nota</a>
                                      <span class="text-category">Brand Identity</span>
                                  </div>
                                  <div class="caption-bg"></div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="signup" class="services">
    <div class="container text-center wow fadeIn">
    <h2>Experience Health Daily</h2>
    <hr class="colored">
    <p>That's how it works. A little bit every day, the excitement builds up.</p>
    <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="//enfluence.us9.list-manage.com/subscribe/post?u=70591e5f03c44af3a6de083cc&amp;id=ef4c54e72f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Get your daily dose of fun + healthy activities delivered right to your inbox</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_70591e5f03c44af3a6de083cc_ef4c54e72f" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
    </div>
  </section>

  <!-- Portfolio Modals -->
  <!-- Example Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('/img/portfolio/bg-1.jpg')">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <img src="/img/client-logos/logo-1.png" class="img-responsive img-centered" alt="">
              <h2>Project Title</h2>
              <hr class="colored">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
            </div>
            <div class="col-lg-12">
              <img src="/img/portfolio/mobile-screens.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
              <ul class="list-inline item-details">
                <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                </li>
                <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                </li>
                <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Example Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('/img/portfolio/bg-2.jpg')">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <img src="/img/client-logos/logo-2.png" class="img-responsive img-centered" alt="">
              <h2>Project Title</h2>
              <hr class="colored">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
            </div>
            <div class="col-lg-12">
              <img src="/img/portfolio/tablet-screens.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
              <ul class="list-inline item-details">
                <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                </li>
                <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                </li>
                <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Example Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('/img/portfolio/bg-3.jpg')">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <img src="/img/client-logos/logo-1.png" class="img-responsive img-centered" alt="">
              <h2>Project Title</h2>
              <hr class="colored">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
            </div>
            <div class="col-lg-12">
              <img src="/img/portfolio/mobile-screens.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
              <ul class="list-inline item-details">
                <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                </li>
                <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                </li>
                <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Example Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('/img/portfolio/bg-4.jpg')">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <img src="/img/client-logos/logo-2.png" class="img-responsive img-centered" alt="">
              <h2>Project Title</h2>
              <hr class="colored">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
            </div>
            <div class="col-lg-12">
              <img src="/img/portfolio/tablet-screens.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
              <ul class="list-inline item-details">
                <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                </li>
                <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                </li>
                <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="Connect">
  <section id="connect" class="bg-gray">
    <div class="container text-center wow fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <h2>{{_ "team"}}</h2>
          <hr class="colored">
        </div>
      </div>
      <div class="row content-row">
        <div class="col-lg-12">
          <div class="about-carousel">
            <div class="item">
              <img src="/img/team/1.jpg" class="img-responsive" alt="">
              <div class="caption">
                <h3>Genevieve Begin</h3>
                <hr class="colored">
                <p class="role">{{_ "gen-role"}}</p>
                <ul class="list-inline phone">
                  <li>
                    <a href="tel:+14388866300">+1 438 886 6300</a>
                  </li>
                </ul>
                <ul class="list-inline social">
                  <li>
                    <a href="https://www.facebook.com/genbegin"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/Genbegin"><i class="fa fa-twitter fa-fw"></i></a>
                  </li>
                  <li>
                    <a href="https://ca.linkedin.com/in/genbegin"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item">
              <img src="/img/team/3.jpg" class="img-responsive" alt="">
              <div class="caption">
                <h3>Melyan Vezina</h3>
                <hr class="colored">
                <p class="role">{{_ "mel-role"}}</p>
                <ul class="list-inline phone">
                  <li>
                    <a href="tel:+15144496198">+1 514 449 6198</a>
                  </li>
                </ul>
                <ul class="list-inline social">
                  <li>
                    <a href="https://www.facebook.com/melyan.vezina"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li>
                    <a href="https://ca.linkedin.com/pub/melyan-vézina/a8/798/644"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item">
              <img src="/img/team/2.jpg" class="img-responsive" alt="">
              <div class="caption">
                <h3>Paul Cuciureanu</h3>
                <hr class="colored">
                <p class="role">{{_ "paul-role"}}</p>
                <ul class="list-inline phone">
                  <li>
                    <a href="tel:+15148039438">+1 514 803 9438</a>
                  </li>
                </ul>
                <ul class="list-inline social">
                  <li>
                    <a href="https://www.facebook.com/paulcuciureanu" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/pcuci" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/paulcu" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<template name="Mailinglist">
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{_ "join-mailing-list"}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form name="sentMessage" id="contactForm" method="POST" action="/" novalidate>
            <input type="hidden" name="u" value="0fe154d854ff25b49b82861b4">
            <input type="hidden" name="id" value="e6b3582826">
            <div class="row">
              <div class='col-md-3'></div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="MERGE1" id="MERGE1" placeholder="{{_ 'your-name'}} *" required data-validation-required-message="{{_ 'please-your-name'}}">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="{{_ 'your-email'}} *" name="MERGE0" id="MERGE0" required data-validation-required-message="{{_ 'please-your-email'}}">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class='col-md-3'></div>
              <div class="col-lg-6 text-center">
                <div id="success"></div>
                <button type="submit" class="btn btn-xl">{{_ "subscribe-to-mailing-list"}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
