<template name="Testimonials">
  <section class="testimonials bg-white">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="testimonials-carousel">
            <div class="item">
              <div class="row">
                <div class="col-lg-12">
                  <p class="lead">«Une très belle initiative. J'ai particulièrement apprécié que votre équipe semble souple, calme, adaptée, ouverte à faire de bons jeux éducatifs et très attentive aux besoins particuliers des enfants.»</p>
                  <div class="testimonial-info">
                    <div class="testimonial-img">
                      <img src="/img/testimonials/1.jpg" class="img-circle img-responsive" alt="Mélissa Faucher testimonial">
                    </div>
                    <div class="testimonial-author">
                      <span class="name">Mélissa Faucher</span>
                      <p class="small">Co-fondatrice de Grosses Têtes,<br />Agence de publicité communautaire</p>
                      {{> Stars}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-lg-12">
                  <p class="lead">«C'était super, merci! tout s'est déroulé vraiment facilement et la présence des enfants à apporté une belle magie à notre party de Noël.»</p>
                  <div class="testimonial-info">
                    <div class="testimonial-img">
                      <img src="/img/testimonials/2.jpg" class="img-circle img-responsive" alt="Sarah Hilal testimonial">
                    </div>
                    <div class="testimonial-author">
                      <span class="name">Sarah Hilal</span>
                      <p class="small">DokStation Manager</p>
                      {{> Stars}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<template name="Stars">
  <div class="stars">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
</template>
