<template name="Footer">
  <footer class="footer" style="background-image: url('/img/bg-footer.jpg')">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6">
          <a class="twitter-timeline" href="https://twitter.com/PopupCamp" data-widget-id="647844386244591616">Tweets by @PopupCamp</a>
        </div>
        <div class="col-md-6">
          <div class="fb-page" data-href="https://www.facebook.com/popupcamp" data-width="460" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/popupcamp">
                <a href="https://www.facebook.com/popupcamp">PopupCamp</a>
              </blockquote>
            </div>
          </div>
          <div id="fb-root"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 contact-details">
          <h4><i class="fa fa-phone"></i> {{_ "call"}}</h4>
          <p>+1 438 886 6300</p>
        </div>
        <div class="col-md-4 contact-details">
          <h4><i class="fa fa-map-marker"></i> {{_ "visit"}}</h4>
          <p>Montréal, QC</p>
        </div>
        <div class="col-md-4 contact-details">
          <h4><i class="fa fa-envelope"></i> {{_ "email"}}</h4>
          <p><a href="mailto:hello@popupcamp.com">hello@popupcamp.com</a>
          </p>
        </div>
      </div>
      <div class="row social">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li><a href="https://twitter.com/PopupCamp"><i class="fa fa-twitter fa-fw fa-2x"></i></a></li>
            <li><a href="https://www.facebook.com/popupcamp"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/company/popupcamp"><i class="fa fa-linkedin fa-fw fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row copyright">
        <div class="col-lg-12">
          <p class="small">&copy; 2015, Popup Camp Inc</p>
        </div>
      </div>
    </div>
  </footer>
</template>
